header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 10px solid #fff;
  padding: 10px 20px;
}

#logo {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 50px;
  text-shadow: 0.1rem 0.1rem 0 #60E2FFB2, -0.1rem 0.1rem 0 #60E2FFB2, 0.1rem -0.1rem 0 #60E2FFB2, -0.1rem -0.1rem 0 #60E2FFB2;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-family: 'Fira Code', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: #60E2FFB2;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
 
#btn {
  display: inline-block;
  background-color: #60E2FFB2;
  height: 40px;
  padding: 18px 20px;
  line-height: 40px;
  box-shadow: 5px 5px 0px #fff;
  margin-right: 0;
  transition: transform 120ms ease-in-out;
}

#btn:hover {
  color: #000;
}

