.main-logo {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 50px;
  text-shadow: 0.1rem 0.1rem 0 #60E2FFB2, -0.1rem 0.1rem 0 #60E2FFB2, 0.1rem -0.1rem 0 #60E2FFB2, -0.1rem -0.1rem 0 #60E2FFB2;
}