.main-section {
  background-color: #60e2ffb2;
  padding: 50px 0 100px 0;
  border-bottom: 8px solid #fff;
}

.main-section .main-title {
  margin-bottom: 60px;
}

.main-section.-bg-black {
  background-color: #000;
}

.main-section.-bg-gray {
  background-color: #576574;
}

.main-section .ghlink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.main-section .ghlink figure {
  padding-right: 20px;
}

.main-section.-form {
  padding: 50px 40px 100px 40px;
}

.main-section .main-input {
  margin-bottom: 20px;
}

.main-section .main-btn.-submit {
  margin-top: 20px;
}