.main-btn {
  display: inline-block;
  background-color: #60E2FFB2;
  color: #fff;
  font-size: 20px;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #fff;
  margin-right: 0;
  text-decoration: none;
}

.main-btn:hover {
  color: #000;
}

.main-btn.-submit {
  font-family: "Fira Code", sans-serif;
  background-color: #ff9f43B2; 
  width: 100%;
  box-shadow: none;
}