.node-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-card .title {
  font-size: 25px;
  font-weight: 400;
  color: #ff9f43B2; 
  margin-bottom: 50px;
}

.node-card .logo {
  display: flex;
  max-height: 140px;
  padding: 0 20px;
}