.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9f43B2;
  width: 200px;
  height: 200px;
  box-shadow: 7px 7px 1px #fff;
}

.project-card .project-logo {
  width: 180px;
}