.skill-item {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #fff;
}

.skill-item .icon {
  margin-right: 25px;
  width: 70px;
}

.skill-item .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skill-item .title {
  margin-bottom: 10px;
}